<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script>

var b_no = '${detail.b_no}';

$('[name=commentInsertBtn]').click(function(){
	var insertData = $('[name=commentInsertForm]').serialize();
	commentInsert(insertData);
});

function commentList(){
	$.ajax({
		url : '/comment/list',
		type : 'get',
		data : {'b_no' : b_no},
		success : function(data){
			var a = '';
			$.each(data, function(key, value){
				a += '<div class="commentArea" style="border-bottom:1px solid darkgray; margin-bottom: 15px;">';
				a += '<div class="commentInfo' + value.c_no + '">' + '댓글번호 : ' + value.c_no + ' / 작성자 : ' + value.writer;
				a += '<a onclick="commentUpdate(' + value.c_no + ', /' + value.content + '/);"> 수정 </a>';
				a += '<a onclick="commentDelete(' + value.c_no + ');"> 삭제 </a> </div>';
				a += '<div class="commentContent' + value.c_no +'"> <p> 내용 : ' + value.content + '</p>';
				a += '</div></div>';
			});
			$(".commentList").html(a);
		}
	});
}

/* 댓글등록 */
function commentInsert(insertData){
	$.ajax({
		url : 'comment/insert',
		type : 'post',
		data : insertData,
		success : function(data){
			if(data == 1){
				commentList();
				$('[name=content]').val('');
			}
		}
	});
}


/* 댓글수정 */
function commentUpdate(cno, content){
	var a = '';
	
	a += '<div>';
	a += '<input type="text" name="content_"' + c_no + '" value="' + content + '"/>';
	a += '<span><input type="button" value="수정" onclick="commentUpdateProc(' + c_no + ');"></span>';
	a += '</div>';
	
	$('.commentContent' + c_no).html(a);

}

function commentUpdateProc(c_no){
	var updateContent = $('[name=content_]' + c_no + ']').val();
	
	$.ajax({
		url : '/comment/update',
		type : 'post',
		data : {'content' : updateContent, 'c_no' : c_no},
		success : function(data){
			if(data == 1) commentList(b_no);
		}
	});
}


/* 댓글삭제 */
function commentDelete(c_no){
	$.ajax({
		url : 'comment/delete/' + c_no,
		type : 'post',
		success : function(data){
			if(data == 1) commentList(b_no);
		}
	});
}

$(document).ready(function(){
	commentList();
});

</script>
</head>

<body>


</body>
</html>